@{
    ViewData["Title"] = "Price Prophet";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="FetchReviews" method="post">
    <div class="form-group">
        <label for="ProductLink">Enter Amazon Product Link</label>
        <input type="te"/>
    </div>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
